.btn,
.btnToggled {
  width: 2rem;
  height: 2rem;
  background-color: white;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  filter: brightness(0.95);
}

.btn:active,
.btnToggled {
  filter: brightness(0.85);
}
