.btn,
.btnToggled {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: lightgray;
}

.btn:active,
.btnToggled {
  background-color: rgb(187, 187, 187);
}
