.root {
  position: sticky;
  padding: 1rem;
  box-shadow: inset 0 0 2px gray;
  background-color: var(--colour-bg);
}

.wrapper {
  position: relative;
  height: 6rem;
}

.board {
  width: 100%;
  height: 100%;
}

.wood {
  height: 100%;
  width: 100%;
  fill: var(--colour-wood);
}

.nut {
  fill: var(--colour-nut);
}

.fret {
  fill: var(--colour-fret);
}

.marker {
  fill: var(--colour-marker);
}

.string {
  fill: var(--colour-string);
}
