.root {
  position: sticky;
  padding: 1rem;
  box-shadow: inset 0 0 2px gray;
}

.wrapper {
  position: relative;
  height: 6rem;
}

.board {
  width: 100%;
  height: 100%;
}

.wood {
  height: 100%;
  width: 100%;
  fill: #202020;
}

.nut {
  fill: beige;
}

.fret {
  fill: grey;
}

.marker {
  fill: white;
}
