.root {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1rem 0;
}

.staff {
  display: flex;
  flex-direction: row;
}

.line {
  cursor: pointer;
  width: fit-content;
}

.line:hover {
  background-color: beige;
}

.lineActive {
  background-color: var(--colour-accent);
}

.lineActive:hover {
  background-color: brown;
}

.current {
  background-color: aquamarine;
}

.note {
  user-select: none;
}

.fontCalibrator {
  position: absolute;
  visibility: hidden;
}
