.root {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.staff .tabLine {
  width: fit-content;
}

.staff {
  display: flex;
  flex-direction: column;
}

.tabLine {
  white-space: nowrap;
}

.fontCalibrator {
  visibility: hidden;
  position: absolute;
  width: fit-content;
}
