.root {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1rem 0;
}

.staff {
  display: flex;
  flex-direction: row;
}

.line,
.note {
  cursor: pointer;
  width: fit-content;
}

.lineActive {
  background-color: var(--colour-accent);
}
.line:hover {
  background-color: beige;
}

.fontCalibrator {
  position: absolute;
  visibility: hidden;
}
