.root {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  font-family: monospace;
  box-shadow: 0 0 2px gray;
}

.staff .tabLine {
  width: fit-content;
}

.staff {
  display: flex;
  flex-direction: column;
}

.tabLine {
  white-space: nowrap;
}

.fontCalibrator {
  visibility: hidden;
  position: absolute;
  width: fit-content;
}
