* {
  margin: 0;
  padding: 0;
}

#toolbar {
  position: relative;
  display: flex;
  gap: 5px;
  padding: 5px;
  height: 115px;
  background-color: rgb(70, 29, 29);
}

#techbar {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}

#fretboard-container {
  position: relative;
  flex: 3;
}

#fretboard-notes {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  text-align: center;
  color: white;
}

.fret-col {
  display: flex;
  flex-direction: column;
}

/* .techs-button {
  width: 30px;
} */
